<div class="hero-image w_80 center">
  <div class="hero-text">
    <h1>I am Tilleul</h1>
    <p>Made in 12 hours by CMB4</p>
    <a href="https://github.com/MittchoBaroco/tilleul"><button class="btn">Learn more @github</button></a>
  </div>
</div>

<div class="center w_15 login">
  <h2>Forgot your password?</h2>

  <div class="mb1">
    <%= flash[:notice] %>
    <%= flash[:alert] %>
  </div>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field mb4">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, required: true %>
    </div>

    <div class="actions mt1 mb1">
      <%= f.submit "Send me reset instructions", class: 'btn' %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
