<h2 class="title">Tickets</h2>

<div class="">
  <%= link_to "New Ticket", new_ticket_path, class: 'btn' %>
</div>

<!-- TABS -->
<!--
<a class="link" href="#mine">Assigned to me</a>
<a class="link" href="#open">Open</a>
<a class="link" href="#closed">Close</a>
-->

<div class="" id="mine">
  <h3>My Tickets</h3>
  <table>
    <tr>
      <th>Title</th>
      <th>Status</th>
      <th>Priority</th>
    </tr>
    <tr>
    <% @my_tickets.each do |t| %>
        <td><%= t.title %></td>
        <td><%= t.status %></td>
        <td><%= t.priority %></td>
    <% end %>
  </tr>
  </table>
</div>

<div class="" id="open">
  <h3>All Open Ticket</h3>
  <table>
    <tr>
      <th>Title</th>
      <th>Status</th>
      <th>Assignee</th>
      <th>Priority</th>
    </tr>
    <tr>
    <% @open_tickets.each do |t| %>
        <td><%= t.title %></td>
        <td><%= t.status %></td>
        <td><%= t.assignee.name %></td>
        <td><%= t.priority %></td>
    <% end %>
  </tr>
  </table>
</div>

<div class="" id="closed">
  <h3>Closed Tickets</h3>
  <table>
    <tr>
      <th>Title</th>
      <th>Status</th>
      <th>Assignee</th>
      <th>Resolver</th>
    </tr>
    <tr>
    <% @closed_tickets.each do |t| %>
        <td><%= t.title %></td>
        <td><%= t.status %></td>
        <td><%= t.assignee.name if t.assignee %></td>
        <td><%= t.resolver.name if t.resolver %></td>
    <% end %>
  </tr>
  </table>
</div>
