<h2 class="title">Tickets</h2>

<div class="">
  <%= link_to "New Ticket", new_ticket_path, class: 'btn' %>
</div>

<!-- TABS -->
<!--
<a class="link" href="#mine">Assigned to me</a>
<a class="link" href="#open">Open</a>
<a class="link" href="#closed">Close</a>
-->

<div class="tickets_index" id="mine">
  <h3>My Tickets - <%= @my_tickets.count %> <span><%= icon('caret-up', class: 'dim open_section') %></span></h3>
  <table>
    <tr>
      <th>Title</th>
      <th>Status</th>
      <th>Priority</th>
      <th>Action</th>
    </tr>
    <tr>
    <% @my_tickets.each do |t| %>
        <td><%= t.title %></td>
        <td><%= t.status %></td>
        <td><%= t.priority %></td>
        <td><%= link_to icon('eye'), t %> <%= link_to icon('pencil'), edit_ticket_path(t) %></td>
    <% end %>
  </tr>
  </table>
</div>

<div class="tickets_index" id="open">
  <h3>Open Tickets - <%= @open_tickets.count %> <span><%= icon('caret-down', class: 'dim open_section') %></span></h3>
  <table class="dn">
    <tr>
      <th>Title</th>
      <th>Status</th>
      <th>Assignee</th>
      <th>Priority</th>
      <th>Action</th>
    </tr>
    <tr>
    <% @open_tickets.each do |t| %>
        <td><%= t.title %></td>
        <td><%= t.status %></td>
        <td><%= t.assignee.name %></td>
        <td><%= t.priority %></td>
        <td><%= link_to icon('eye'), t %> <%= link_to icon('pencil'), edit_ticket_path(t) %></td>
    <% end %>
  </tr>
  </table>
</div>

<div class="tickets_index" id="closed">
  <h3>Closed Tickets - <%= @closed_tickets.count %> <span><%= icon('caret-down', class: 'dim open_section') %></span></h3>
  <table class="dn">
    <tr>
      <th>Title</th>
      <th>Status</th>
      <th>Assignee</th>
      <th>Resolver</th>
      <th>Action</th>
    </tr>
    <tr>
    <% @closed_tickets.each do |t| %>
        <td><%= t.title %></td>
        <td><%= t.status %></td>
        <td><%= t.assignee.name if t.assignee %></td>
        <td><%= t.resolver.name if t.resolver %></td>
        <td><%= link_to icon('eye'), t %> <%= link_to icon('pencil'), edit_ticket_path(t) %></td>
    <% end %>
  </tr>
  </table>
</div>
